
a{
    text-decoration: none;
    color:white;
}
.image-file{
    width: 100px;
    height: 100px;
   
}
.file{
    margin:auto;
    padding-top: 10px;
    border-color:rgb(48, 45, 58);
    border-width: 10px;
    
}
.id{
    display: inline;
    font-size:2em;
}
.filename{
    
    
    width: 100%;
    background-color: rgb(70, 70, 70);
    color:#ffff;
  
    

    font-size:2em;
} 

#files{
    background-color: rgb(24, 24, 24) ;
    
}
