<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="public/script/loadStuff.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="public/style/style.css">
    <link rel="stylesheet" href="public/style/index.css">
</head>
<body>
   <h1 id="title">simple cloud made in go</h1> 
   <div id="files"></div>
</body>
</html>