<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SimpleCloudInGo</title>

	<!-- Script -->
	<script src="/public/scripts/index.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="/public/styles/main.css" />
	<link rel="stylesheet" href="/public/styles/header.css" />
	<link rel="stylesheet" href="/public/styles/home.css" />
</head>

<body>
	<header class="headerContainer">
		<div class="HC_Content">
			<h1 class="HC_Text">SimpleCloudInGo</h1>
			<a href="/upload/" class="HC_Button">
				<img src="/public/images/upload.svg" class="HC_BImage" />
			</a>
		</div>
	</header>

	<div class="fileContainer">
		<div id="fcontainer" class="fileContent"></div>
	</div>
</body>

</html>